html {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
  background-color: #0a1b34;
  color: white;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/font/Rubik/static/Rubik-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/font/Rubik/static/Rubik-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/font/Rubik/static/Rubik-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/font/Rubik/static/Rubik-Medium.ttf");
  font-weight: 500;
}
/* rewrite  default props of tag> */
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
input {
  background-color: transparent;
  border: 0;
  color: white;
}
input::placeholder {
  color: white;
}
h2 {
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
/*< rewrite  default props of tag */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  font-weight: 400;
  font-size: 2vmin;
  padding: 15px;
}
.buttons {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 4.17vmax;
  margin: auto;
  margin-top: 10%;
  gap: 30px;
}

.start_btn {
  width: 200px;
  background: #ea27c3;
  color: #eee;
  font-style: normal;
  line-height: 100%;
  padding: 20px;
  border-radius: 5px;
}

.contact_btn {
  width: 200px;
  border: 2px solid #eeff01;
  border-radius: 5px;
}

.start_now_block {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  background: linear-gradient(94.51deg, #0c1c2e 0.29%, #05101c 100%);
  margin: 100px 0;
  padding: 85px 0;
  gap: 36px;
}
.start_now_block .title {
  font-size: 4em;
  width: 65.68vw;
  text-align: center;
  z-index: 2;
}
.start_now_block .subtitle {
  font-size: 2em;
  z-index: 2;
}
.start_now_block .buttons {
  width: 30vw;
  gap: 6.25%;
  margin-top: 0;
  z-index: 2;
}

.start_now_block .buttons .btn a {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.start_now_block .buttons .btn {
  display: flex;
  padding: 0;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.contact_us a {
  text-decoration: underline;
}

.decor_image_start_container {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.decor_image_start {
  height: 100%;
}

.top_menu {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin-top: 64px;
  padding-left: 5.68vw;
  padding-right: 8.33vw;
}
.logo {
  width: 13.69vw;
}
.logo_picture {
  width: 100%;
}

.signup {
  border: 2px solid #eeff01;
  border-radius: 5px;
}
/* top menu */

/* menu> */

.nav_menu {
  min-width: 350px;
  width: 66.25vw;
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 2vmin;
}

.nav_menu li {
  cursor: pointer;
  justify-content: center;
  align-content: center;
}

.nav_menu li a img {
  padding-left: 10px;
}
.posibilities {
  position: relative;
}

.posibilities:hover > .menu_container {
  display: flex;
  transform: translateX(70%);
  width: 33.96vw;

  position: absolute;
  right: 0;

  box-sizing: border-box;
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(10, 27, 52, 0.95);
  -webkit-box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  border-radius: 5px;
  border: 2px solid rgba(68, 221, 255, 0.7);
  font-size: 75%;
  z-index: 2;
}

.menu_container {
  display: none;
}
.posibilities:hover > .menu_container > .triangle {
  position: absolute;
  height: 40px;
  transform: translate(7vw, -40px);
  z-index: -1;
}

.menu_extended {
  padding: 20px 30px;
}
.menu_extended li {
  font-size: 1.75vmin;
  padding: 1.3vmin;
}
.menu_extended li:nth-of-type(1) {
  font-weight: bold;
}

.menu_extended li + li > a:hover {
  color: rgba(68, 221, 255, 1);
  text-decoration: underline;
}

.devider {
  width: 0;
  border: 2px solid #eeff01;
  margin: 5% 0;
  box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
  -webkit-box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
  -moz-box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
}

.resources,
.company {
  position: relative;
}

.resources:hover > .menu_container,
.company:hover > .menu_container {
  position: absolute;
  width: 14.43vw;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 30px 20px;
  background-color: rgba(10, 27, 52, 0.95);
  -webkit-box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  border-radius: 5px;
  border: 2px solid rgba(68, 221, 255, 0.7);
  transform: translateX(-40px);
  font-size: 75%;
  z-index: 4;
}
.resources:hover > .menu_container > .triangle,
.company:hover > .menu_container > .triangle {
  position: absolute;
  height: 40px;
  transform: translate(80px, -70px);
}
.resources:hover > .menu_container > .menu_extended,
.company:hover > .menu_container > .menu_extended {
  padding: 0;
}

.resources > .menu_container > .devider,
.company:hover > .menu_container > .devider {
  width: 40%;
  margin: 13px;
  padding-left: 30px;
}

.learn_more_block {
  display: flex;
  flex-direction: column;
  width: 37.5vw;
  margin: auto;
  font-size: 2vmin;
  gap: 64px;
  align-items: center;
}

.learn_more_block p {
  font-weight: 400;
  text-align: center;
}
.learn_more_block a {
  font-weight: 300;
  color: rgba(68, 221, 255, 1);
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.background {
  position: absolute;
  z-index: -1;
}

.background img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.footer_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 67%;
  padding: 10% 0 0 20%;
  justify-content: space-between;
}

.footer_content_block_list {
  width: fit-content;
  max-width: 227px;
}

.footer_content_block_list li {
  padding: 10px 0;
  color: #7b86c0;
  cursor: pointer;
}
.subtitle {
  font-size: 1.5em;
  font-weight: 400;
  margin: 64px auto 64px;
}
.start_btn {
  width: 200px;
  background: #ea27c3;
  color: #eee;
  font-style: normal;
  line-height: 100%;
  padding: 20px;
  border-radius: 5px;
}

.empty_cell {
  background-color: white;
  width: 24px;
  height: 2px;
  display: block;
  margin: auto;
}
.price_table_container {
  display: grid;
  width: 68.42vw;
  margin: auto;
}

.price_table {
  width: 100%;
}
.price_table_title {
  font-size: 64px;
  font-weight: 400;
  margin: 164px auto 0px;
}
.price_table tbody tr {
  font-size: 18px;
  border: 0px;
  height: 55px;
}
tr td:first-of-type,
thead tr th {
  padding-left: 24px;
}
.price_table tbody tr:nth-child(odd) {
  background: linear-gradient(90.5deg, #0c1c2e -13.65%, #05101c 114.88%);
}
.price_table tbody tr:nth-child(even) {
  background: rgba(28, 50, 69, 1);
}

.price_table tbody tr td:nth-of-type(1) {
  width: 32%;
}
.price_table tbody tr td:not(:first-of-type) {
  width: 17%;
  text-align: center;
}

.price_table thead {
  height: 104px;
  display: flex;
  align-items: flex-end;
}

.price_table thead tr th {
  font-size: 24px;
  padding-bottom: 24px;
}

.suscribtion_plans {
  width: 72.5vw;
  margin: auto;
  column-gap: 64px;
  display: grid;
  font-size: 1.12em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.suscribtion_plans_title {
  width: 39.32vw;
  font-size: 64px;
  font-weight: bold;
  margin: auto;
  margin-top: 126px;
}

.suscription_paln_name,
.suscription_paln_price {
  width: 69.33%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.suscription_paln_name {
  margin-bottom: 1em;
}
.suscription_paln {
  background: linear-gradient(170.91deg, #0c1c2e 0%, #05101c 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 39.06vw;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
}
.suscription_paln::before {
  content: "";
  height: 36vw;
  width: 100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  box-shadow: 0px 1px 52px -3px rgba(68, 221, 255, 0.75);
  -webkit-box-shadow: 0px 1px 52px -3px rgba(68, 221, 255, 0.75);
  -moz-box-shadow: 0px 1px 52px -3px rgba(68, 221, 255, 0.75);
  border-radius: 10px;
}
.suscribtion_plans h1,
.suscribtion_plans h2 {
  grid-column: 1 / span 4;
}

.suscription_paln_name p,
.suscription_paln_price p {
  font-size: 77.78%;
}
.suscription_paln_price h3 {
  font-weight: 300;
}
.span_highlighted {
  font-weight: 400;
}
.suscription_paln_conditions {
  justify-self: flex-end;
  margin-bottom: 50px;
}

.suscription_paln_conditions li {
  background-image: url("../assets/images/checkmark_price_table.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 25px;
}

.suscription_paln_name_free,
.suscription_paln_price_free {
  font-size: 133%;
  font-weight: 500;
}
.top_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.span_highlighted {
  font-weight: bold;
}

.range {
  background: linear-gradient(
    to right,
    white 0%,
    white 0%,
    rgba(238, 255, 1, 1) 0%,
    rgba(238, 255, 1, 1) 100%
  );
  border: solid 2px rgba(238, 255, 1, 1);
  border-radius: 8px;
  height: 7px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
.start {
  margin: auto;
  margin-bottom: 3em;

  width: 180px;
  height: 3em;
  border-radius: 10px;
}

.range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: rgba(234, 39, 195, 1);
}

.range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: rgba(234, 39, 195, 1);
}

.range::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: rgba(234, 39, 195, 1);
}

.label_range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 77.78%;
}

.subscribers_quantity {
  font-size: 77.78%;
}

.range_container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  padding: 2.5em 0 2.5em 0;
}

.questions_block {
  width: 45vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 194px;
}
.questions_list {
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.question {
  height: 2.28em;
  width: 100%;
  margin: auto;
  border: 2px solid rgba(238, 255, 1, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.questions_block_title {
  font-size: 3em;
  font-weight: 500;
  margin: 348px auto 164px;
}

.decor_price_page::after {
  content: url("../assets/images/decor_right.svg");
  position: absolute;
  right: 0;
  transform: translate(0, -400px);
}

.decor_price_page::before {
  content: url("../assets/images/decor_left.svg");
  position: absolute;
  left: 0;
  transform: translateX(-180px);
}
