:root {
  --light_font: "Poppins-Light";
  --regular_font: "Poppins-Regular";
  --medium_font: "Poppins-Medium";
  --semibold_font: "Poppins-SemiBold";
  --bold_font: "Poppins-Bold";
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../assets/font/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../assets/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  position: relative;
  background: linear-gradient(94.51deg, #0c1c2e 0.29%, #05101c 100%);
  padding: 0;
}

.left_corner {
  min-width: 200px;
  position: fixed;
  margin-bottom: -8px;
  left: 0;
  bottom: 0;
}
.right_corner {
  margin-top: -150px;
  position: fixed;
  right: 0;
}
.logo {
  width: 352px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
}
.left_corner img,
.right_corner img,
.logo img {
  width: 100%;
}

.greating {
  font-family: var(--semibold_font);
  width: 427px;
  font-size: 48px;
  color: white;
  margin: auto;
  margin-bottom: 20px;
}

.connection_form {
  position: fixed;

  width: 18.23vw;
  left: 40.88vw;
  display: flex;

  flex-direction: column;
  justify-items: center;
  align-content: center;
  color: #eee;
  margin: auto;
}

.field {
  margin-top: 2.22vh;
  height: 12.83%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.additional_information {
  height: 11.72%;
  margin-top: 2.22vh;
}
#additional_information {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #eeff01;
  border-radius: 20px;
  background-color: transparent;
  margin-top: 10px;
  padding: 0;
}
#additional_information::placeholder {
  padding: 10px;
}
.field input {
  border: 2px solid #eeff01;
  border-radius: 20px;
  min-height: 30px;
  height: 50%;
  border-radius: 20px;
  background-color: transparent;
}
.field label,
.additional_information label {
  font-family: var(--light_font);
  font-size: 18px;
  min-height: 30px;
  height: 50%;
  font-size: 1.7vh;
}

.contact_button {
  width: 46.84%;
  min-width: 100px;
  background: #ea27c3;
  color: #eee;
  font-style: normal;
  font-weight: 400;
  line-height: 5.93vh;
  justify-self: center;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  border: 0px;
  padding: 0;
}
