:root {
  --light_font: "Poppins-Light";
  --regular_font: "Poppins-Regular";
  --medium_font: "Poppins-Medium";
  --semibold_font: "Poppins-SemiBold";
  --bold_font: "Poppins-Bold";
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../assets/font/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../assets/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  position: relative;
  background: linear-gradient(94.51deg, #0c1c2e 0.29%, #05101c 100%);
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
}

.left_corner {
  min-width: 200px;
  position: fixed;
  margin-bottom: -8px;
  left: 0;
  bottom: 0;
}
.right_corner {
  margin-top: -8px;

  position: fixed;
  right: 0;
}

.left_corner img,
.right_corner img,
.logo img,
.login_picture img {
  width: 100%;
}

.login_form {
  position: absolute;
  margin-left: 59.16%;
  margin-top: 250px;
  height: 46.5%;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-width: 200px;
  width: 18%;
  color: #eee;
}
.login_form input {
  border: 2px solid #eeff01;
  border-radius: 5px;
  background-color: transparent;
}

.greating {
  font-family: var(--semibold_font);
  font-size: 48px;
  align-self: center;
}

.password label,
.email label {
  font-family: var(--light_font);
  line-height: 48px;
  font-size: 18px;
}

.password,
.email,
.stay_logged {
  font-size: 47%;
  margin-top: 24px;

  display: flex;
  flex-direction: column;
}

#password,
#email {
  height: 51px;
  border-radius: 20px;
}

.login_button {
  font-family: var(--regular_font);
  width: 12.5vw;
  background: #ea27c3;
  color: #eee;
  font-size: 20px;
  line-height: 64px;
  margin: auto;
  margin-top: 64px;
  border: 2px solid rgba(234, 39, 195, 0.5);
  border-radius: 20px;
  padding: 0;
}
/* custom checkbox > */

.container {
  font-family: var(--light_font);
  font-size: 14px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;

  line-height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  font-family: var(--light_font);
  font-size: 14px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid yellow;
  border-radius: 5px;
}

.container:hover input ~ .checkmark {
  border: 3px solid yellow;
  border-radius: 5px;
}
.container input:checked ~ .checkmark {
  border: 2px solid white;
  border-radius: 5px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid yellow;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* < custom checkbox */

.logo {
  position: fixed;
  right: 41%;
  top: 150px;
  width: 18%;
}
