:root {
  --light_font: "Poppins-Light";
  --regular_font: "Poppins-Regular";
  --medium_font: "Poppins-Medium";
  --semibold_font: "Poppins-SemiBold";
  --bold_font: "Poppins-Bold";
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../assets/font/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../assets/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  position: relative;
  background: linear-gradient(94.51deg, #0c1c2e 0.29%, #05101c 100%);
  padding: 0;
}

.left_corner {
  min-width: 200px;
  position: fixed;
  margin-bottom: -8px;
  left: 0;
  bottom: 0;
}
.right_corner {
  margin-top: -8px;
  position: fixed;
  right: 0;
}

.left_corner img,
.right_corner img,
.logo img {
  width: 100%;
}
.logo {
  position: fixed;
  right: 41%;
  top: 150px;
  width: 18%;
}

.signup_form {
  position: fixed;
  display: flex;
  flex-direction: column;

  color: #eee;
  height: 46.5%;
  left: 59.16%;
  top: 20.8vh;
  width: 18vw;
}
.signup_form input {
  border: 2px solid #eeff01;
  height: 48px;
  border-radius: 5px;
  background-color: transparent;
}

.greating {
  font-family: var(--semibold_font);
  width: 383px;
  font-size: 48px;
  align-self: center;
}

.password label,
.email label {
  font-family: var(--light_font);
  line-height: 48px;
  font-size: 18px;
}

.password,
.email {
  font-size: 47%;
  margin-top: 24px;

  display: flex;
  flex-direction: column;
}

#password,
#email {
  height: 51px;
  border-radius: 20px;
}

.signup_button {
  font-family: var(--regular_font);
  width: 12.5vw;
  min-width: 100px;
  background: #ea27c3;
  color: #eee;
  font-size: 20px;

  line-height: 64px;
  margin: auto;
  margin-top: 64px;
  border: 0;
  border-radius: 20px;
  padding: 0;
}

.logo {
  position: absolute;
  right: 41%;
  top: 100px;
  width: 18%;
}
