/* .svg {
  position: absolute;
  width: 0;
  height: 0;
} */
.clipped {
  /* margin-top: 600px; */
  width: 100vw;
  height: 100vw;
  background: turquoise;
  background-size: cover;
  clip-path: url(#my-clip-path);
  z-index: 200;
  shape-outside: url(#my-clip-path);
}
.clipped h1 {
  margin: auto;
  height: 20px;
  background-color: black;
}

/* .my-clip-path {
  clip-path: url(#my-clip);
} */
