body {
  font-family: "Rubik", sans-serif;
  position: relative;
  width: 100%;
  background-color: #0a1b34;
  color: white;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}

/* @font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/font/static/Rubik-Light.ttf") format("opentype");
  font-weight: 300;
} */
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/font/Rubik/static/Rubik-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/font/Rubik/static/Rubik-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/font/Rubik/static/Rubik-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/font/Rubik/static/Rubik-Bold.ttf");
  font-weight: bold;
}
/* rewrite  default props of tag> */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
input {
  background-color: transparent;
  border: 0;
  color: white;
}
input::placeholder {
  color: white;
}
h2 {
  margin: 0;
}
/*< rewrite  default props of tag */

/* top menu */
.top_menu {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin-top: 64px;
  padding-left: 5.68vw;

  padding-right: 8.33vw;
}
.logo {
  width: 13.69vw;
}
.logo_picture {
  width: 100%;
}

.btn {
  /* height: 48px; */
  /* box-sizing: border-box; */
  font-weight: 400;
  max-width: 200px;
  font-size: 2vmin;

  padding: 15px;
}

.signup {
  border: 2px solid #eeff01;
  border-radius: 5px;
}
/* top menu */

/* menu> */

.nav_menu {
  min-width: 350px;
  width: 66.25vw;
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 2vmin;
}

.nav_menu li {
  cursor: pointer;
}
.posibilities {
  position: relative;
}
.posibilities {
  padding-bottom: 30px;
}

.posibilities:hover > .posibilities_menu {
  display: flex;
}

.posibilities_menu {
  transform: translateX(70%);
  position: absolute;
  right: 0;
  font-size: 80%;
  margin-top: 30px;
  display: none;
  flex-direction: row;
  background-color: rgba(10, 27, 52, 0.95);
  -webkit-box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  border-radius: 5px;
  z-index: 2;
}
.triangle {
  position: absolute;
  height: 40px;
  transform: translate(50px, -40px);
  z-index: -1;
}

.posibilities_menu_extended {
  padding: 20px 30px;
}
.posibilities_menu_extended li {
  padding: 5px;
}
.features {
  position: relative;
  width: fit-content;
}

.features::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 0;
  border: 2px solid #eeff01;

  z-index: 100;
  transform: translate(150px, -100%);
}
/* header_block */
.header_block {
  display: flex;
  height: 100%;
  margin: 6.3vmax 0 0 8.33vmax;
}
/* header_block */

/* header */

.header {
  width: 41.82vw;
}

/* header */

/* header_image */
.header_image {
  background-color: #142d47;
  height: 26.93vmax;
  width: 26.93vmax;
  margin: 4.06vw;
}

/* header_image */

/* description_block */
.description_block {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

/* description_block */

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 4.17vmax;
  margin: auto;
  margin-top: 10%;
  gap: 30px;
}

.start_btn {
  background: #ea27c3;
  color: #eee;
  font-style: normal;

  line-height: 100%;
  padding: 20px;
  border-radius: 5px;
}

.contact_btn {
  border: 2px solid #eeff01;
  border-radius: 5px;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.background {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.background img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.footer_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 67vw;
  padding: 10% 0 0 20%;
  justify-content: space-between;
}

.footer_content_block_list {
  width: fit-content;
  max-width: 227px;
}

.footer_content_block_list li {
  padding: 10px 0;
  color: #7b86c0;
  cursor: pointer;
}
