.push_types {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 73.2vw;
  margin: auto;
  gap: 3.33vw;
}
.push_types_header {
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: 500;
}

.push_types_list {
  display: flex;
  flex-direction: column;
  width: 15.62vw;
  gap: 20px;
}

.push_types_description {
  width: 23.85vw;
  font-size: 1.5em;
  font-weight: 400;
}

.push_types_list_btn {
  border-radius: 5px;
  font-size: 1.5vmin;
  border: 2px solid #eeff01;
  text-align: center;
  vertical-align: middle;
}
/* description_block */

.buttons {
  box-sizing: content-box;
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  margin: auto;
  margin-top: 10%;
  gap: 30px;
}

.start_btn {
  background: #ea27c3;
  color: #eee;
  font-style: normal;
  /* height: 100%; */
  /* line-height: 100%; */
  padding: 20px;
  border-radius: 5px;
}

.contact_btn {
  box-sizing: border-box;
  border: 2px solid #eeff01;
  border-radius: 5px;
}
.description_block {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  row-gap: 300px;
}

.technology_descrition {
  display: grid;
  width: 76.41vw;
  grid-template-columns: 65% 35%;
  margin: auto;
}
.technology_descrition_title {
  padding-bottom: 2%;
  align-self: end;
  font-size: 3em;
  font-weight: 500;
}
.technology_descrition .header_image {
  grid-row: 1 / span 2;
  grid-column: 2;
}

.technology_descrition_content {
  width: 40vw;
  font-size: 1.5em;
  line-height: 28.44px;
  font-weight: 400;
}
