.top_menu {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin-top: 64px;
  padding-left: 5.68vw;

  padding-right: 8.33vw;
}
.logo {
  width: 13.69vw;
}
.logo_picture {
  width: 100%;
}

.signup {
  border: 2px solid #eeff01;
  border-radius: 5px;
}
/* top menu */

/* menu> */

.nav_menu {
  min-width: 350px;
  width: 66.25vw;
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 2vmin;
}

.nav_menu li {
  cursor: pointer;
  justify-content: center;
  align-content: center;
}

.nav_menu li a img {
  padding-left: 10px;
}
.posibilities {
  position: relative;
}

.posibilities:hover > .menu_container {
  display: flex;
  transform: translateX(70%);
  width: 33.96vw;

  position: absolute;
  right: 0;

  box-sizing: border-box;
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(10, 27, 52, 0.95);
  -webkit-box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  border-radius: 5px;
  border: 2px solid rgba(68, 221, 255, 0.7);
  font-size: 75%;
  z-index: 2;
}

.menu_container {
  display: none;
}
.posibilities:hover > .menu_container > .triangle {
  position: absolute;
  height: 40px;
  transform: translate(7vw, -40px);
  z-index: -1;
}

.menu_extended {
  padding: 20px 30px;
}
.menu_extended li {
  font-size: 1.75vmin;
  padding: 1.3vmin;
}
.menu_extended li:nth-of-type(1) {
  font-weight: bold;
}

.menu_extended li + li > a:hover {
  color: rgba(68, 221, 255, 1);
  text-decoration: underline;
}

.devider {
  width: 0;
  border: 2px solid #eeff01;
  margin: 5% 0;
  box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
  -webkit-box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
  -moz-box-shadow: -2px 0px 28px 2px rgba(238, 255, 1, 0.67);
}

.resources,
.company {
  position: relative;
}

.resources:hover > .menu_container,
.company:hover > .menu_container {
  position: absolute;
  width: 14.43vw;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 30px 20px;
  background-color: rgba(10, 27, 52, 0.95);
  -webkit-box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  box-shadow: 1px 3px 13px 7px rgba(68, 221, 255, 0.32);
  border-radius: 5px;
  border: 2px solid rgba(68, 221, 255, 0.7);
  transform: translateX(-40px);
  font-size: 75%;
}
.resources:hover > .menu_container > .triangle,
.company:hover > .menu_container > .triangle {
  position: absolute;
  height: 40px;
  transform: translate(80px, -70px);
}
.resources:hover > .menu_container > .menu_extended,
.company:hover > .menu_container > .menu_extended {
  padding: 0;
}

.resources > .menu_container > .devider,
.company:hover > .menu_container > .devider {
  width: 40%;
  margin: 13px;
  padding-left: 30px;
}
