.start_now_block {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;
  background: linear-gradient(94.51deg, #0c1c2e 0.29%, #05101c 100%);
  margin: 100px 0;
  padding: 85px 0;
  gap: 36px;
}
.start_now_block .title {
  font-size: 4em;
  width: 65.68vw;
  text-align: center;
}
.start_now_block .subtitle {
  font-size: 2em;
}
.start_now_block .buttons {
  width: 30vw;
  gap: 6.25%;
  margin-top: 0;
}

.start_now_block .buttons .btn a {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.start_now_block .buttons .btn {
  display: flex;
  padding: 0;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.contact_us a {
  text-decoration: underline;
}

.decor_image_start_container {
  position: absolute;
  left: 0;
  bottom: 0;
}

.decor_image_start {
  height: 100%;
}
